pandas # CSV
selenium # Browser automation
tensorflow # Machine learning

Pillow # Image processing
numpy # Numerical Python
scikit-learn # Machine learning

matplotlib # Plotting
pydot # Graphviz interface
psutil # System monitoring
pyaml # YAML